h1 {color: blue; font-size: 20px}

.test {

	font-size: 15px
}

.splash {
	background-image: url(Bridge.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}
body > header > nav > ul {}
